.profile-container {
  min-height: 25vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.profile-image {
  height: 8vh;
}
.profile-name {
  font-weight: bold;
  color: #4f46e5;
  font-size: 25px;
}
.profile-bio {
  color: #272727;
  font-weight: 500;
  font-size: 16px;
}
.profile-failure-container {
  background-color: transparent;
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.retry-button {
  background-color: #6366f1;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.loader-container {
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
